[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PBImisc"]
	path = PBImisc
	url = https://github.com/pbiecek/pbimisc
[submodule "PogromcyDanych"]
	path = PogromcyDanych
	url = https://github.com/pbiecek/pogromcydanych
[submodule "Przewodnik"]
	path = Przewodnik
	url = https://github.com/cran/Przewodnik
[submodule "SmarterPoland"]
	path = SmarterPoland
	url = https://github.com/pbiecek/smarterpoland
[submodule "archivist"]
	path = archivist
	url = https://github.com/pbiecek/archivist
[submodule "bgmm"]
	path = bgmm
	url = https://github.com/pbiecek/bgmm
[submodule "breakDown"]
	path = breakDown
	url = https://github.com/pbiecek/breakdown
[submodule "ceterisParibus"]
	path = ceterisParibus
	url = https://github.com/pbiecek/ceterisparibus
[submodule "ddst"]
	path = ddst
	url = https://github.com/pbiecek/ddst
[submodule "proton"]
	path = proton
	url = https://github.com/cran/proton
